<!doctype html>
<html lang="en">

<head>

    <meta charset="utf-8">

    <meta
        name="viewport"
        content="width=device-width, initial-scale=1"
    >

    <meta
        name="theme-color"
        content="#7b3f18"
    >

    <meta
        name="mobile-web-app-capable"
        content="yes"
    >

    <meta
        name="apple-mobile-web-app-capable"
        content="yes"
    >


    <!-- PWA Manifest -->

    <link
        rel="manifest"
        href="/manifest.json"
    >


    <!-- Main CSS -->

    <link
        rel="stylesheet"
        href="/static/css/style.css"
    >


    <title>
        {{ title or 'Sawariya Confectionary' }}
    </title>

</head>


<body>


<nav>

    <div class="logo">
        🍬 SAWARIYA
    </div>


    <div class="links">

        <a href="/dashboard">
            Dashboard
        </a>

        <a href="/billing">
            Billing
        </a>

        <a href="/products">
            Products
        </a>

        <a href="/stock">
            Stock
        </a>

        <a href="/customers">
            Customers
        </a>

        <a href="/reports">
            Reports
        </a>

        <a href="/logout">
            Logout
        </a>

    </div>

</nav>


{% block content %}
{% endblock %}


<!-- =====================================================
     OFFLINE DATABASE
     ===================================================== -->

<script src="/static/js/offline-db.js"></script>


<!-- =====================================================
     SERVICE WORKER
     ===================================================== -->

<script>

window.addEventListener(

    "load",

    async () => {


        if (

            !(
                "serviceWorker"
                in navigator
            )

        ) {

            return;

        }


        try {


            const registration =

                await navigator
                    .serviceWorker
                    .register(

                        "/service-worker.js"

                    );


            console.log(
                "Service Worker Registered"
            );


            /*
             SERVICE WORKER READY
            */

            const readyRegistration =

                await navigator
                    .serviceWorker
                    .ready;


            /*
             ALL APP PAGES CACHE
            */

            function cacheAllPages() {


                if (

                    readyRegistration.active

                ) {

                    readyRegistration
                        .active
                        .postMessage({

                            type:
                                "CACHE_APP_PAGES"

                        });


                    console.log(
                        "Cache message sent"
                    );

                }

            }


            /*
             FIRST CACHE
            */

            cacheAllPages();


            /*
             RETRY AFTER 2 SECONDS
            */

            setTimeout(

                cacheAllPages,

                2000

            );


            /*
             RETRY AFTER 5 SECONDS
            */

            setTimeout(

                cacheAllPages,

                5000

            );


            /*
             CONTROLLER CHANGE
            */

            navigator.serviceWorker
                .addEventListener(

                    "controllerchange",

                    () => {

                        cacheAllPages();

                    }

                );


            /*
             CURRENT PAGE CACHE
            */

            if (

                navigator
                    .serviceWorker
                    .controller

            ) {

                navigator
                    .serviceWorker
                    .controller
                    .postMessage({

                        type:
                            "CACHE_CURRENT_PAGE",

                        path:
                            window.location.pathname

                    });

            }


        }


        catch (error) {


            console.error(

                "Service Worker Error:",

                error

            );


        }


    }

);

</script>


</body>

</html>